<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Page</title>
</head>
<body>
    <h1>Profile Page</h1>
    <h2>Welcome {{name}} </h2>

    <form action="" method="post">
        {% csrf_token %}
        

        {{form.username}}<br>
    
    {% for fm in form %}
    {{fm.label_tag}} {{fm}} {{fm.errors|striptags}}

     <br> <br>
    {% endfor %}

   
    <input type="submit" value="Update">
     {% if form.non_field_errors %}
    {% for error in form.non_field_errors %}
    <p>{{error}}</p>
    {% endfor %}
    {% endif %}
    </form>


       
      {% if messages %}
    {% for message in messages %}
    <small {% if message.tags %} class="{{message.tags}}"  {% endif %}>{{message}}</small>
    {% endfor%}
    {% endif %}

    <a href="{% url 'logout'%}">Logout</a>
    <a href="{% url 'changepass'%}">Changepassword</a>
    <a href="{% url 'changepass1'%}">Changepassword 1</a>
    

    


</body>
</html>